body {
    background-color: lightgray;
    font-family: Raleway;
    text-align: center;
    color: white;
}

#DashBoard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: "header   header"
                         "kosten   kwh"
                         "weer     weer"
                         "controls controls"
                         "graph    graph"
}

.item {
    background-color: purple;
    border: 1px solid #000;
    padding: 5px;
    min-height: 50px;
}

.header {
    background-color: rebeccapurple;
    grid-area: header;
}

.weer {
    grid-area: weer;
    text-align: center;
}

.graph {
    grid-area: graph;
}

.kosten {
    grid-area: kosten;
}

.kwh {
    grid-area: kwh;
}

.controls {
    grid-area: controls;
}

@media screen and (min-width: 900px) {
    
    #DashBoard {
        grid-template-columns: 200px 1fr 1fr 200px;
        grid-template-areas: "header   header   header   header"
                             "kosten   controls controls weer"
                             "graph    graph    kwh      kwh"
    }

}